<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Créditos del Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p class="p0"><b>INTEGRANTES DEL EQUIPO</b></p><br>
<p class="p1">Mario Alejandro Martín Sánchez #12</p>
<p class="p2">Rodrigo Moreno Plascencia #14</p>
<p class="p3">Jimena Olivares Rivera #17</p><br>
<p class="p4">6°D - DAMM - Prof.Edgar Sandoval</p><br>

  <ion-button routerLink="/starter" color="dark">Regresar al menú</ion-button>
</ion-content>


