capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 400px;
}

ion-content{
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-item{
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-card {
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-label{
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-title{
  font-family: "Lucida Console", "Courier New", monospace;
}


ion-button{
width:73px;
height:50px;
}

img{
margin-top:10px;
width:70%;
height:70%;
}

.a{
margin-left: 110px;
width:50%;
height:70%;
}