ion-button{
font-family: "Lucida Console", "Courier New", monospace;
width: 94.5%;
margin-left: 10px;
}

ion-card {
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-title{
  font-family: "Lucida Console", "Courier New", monospace;
}