<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sightseek
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <ion-card routerLink="/paris" color="dark">
  <img alt="Paris" src="https://viajes.nationalgeographic.com.es/medio/2022/07/13/paris_37bc088a_1280x720.jpg" />
  <ion-card-header>
    <ion-card-title>París</ion-card-title>
  </ion-card-header>
  </ion-card>
  <br>
  <ion-card routerLink="/lisbon" color="dark">
  <img alt="Lisbon" src="https://images.musement.com/cover/0042/18/lisbon_header-4117128.jpeg?w=1200&h=630&q=95&fit=crop" />
  <ion-card-header>
    <ion-card-title>Lisboa</ion-card-title>
  </ion-card-header>
  </ion-card>
<br>
  <ion-card routerLink="/rome" color="dark">
  <img alt="Rome" src="https://historia.nationalgeographic.com.es/medio/2019/12/11/coliseo-roma_2924b6ae_1280x720.jpg" />
  <ion-card-header>
    <ion-card-title>Roma</ion-card-title>
  </ion-card-header>
  </ion-card>
<br>
  <ion-card routerLink="/washington" color="dark">
  <img alt="Washington" src="https://res.cloudinary.com/hello-tickets/image/upload/c_limit,f_auto,q_auto,w_1300/v1610975959/xm1ipaegfbtieh7d8esr.jpg" />
  <ion-card-header>
    <ion-card-title>Washington</ion-card-title>
  </ion-card-header>
  </ion-card>
<br>
  <ion-card routerLink="/tokio" color="dark">
  <img alt="Guadalajara" src="https://cabify.com/_blogs-assets/images/inside/main-guadalajara.jpg" />
  <ion-card-header>
    <ion-card-title>Guadalajara</ion-card-title>
  </ion-card-header>
  </ion-card>
<br>
  <ion-card routerLink="/madrid" color="dark">
  <img alt="Madrid" src="https://imagenes.20minutos.es/files/og_thumbnail/uploads/imagenes/2023/01/24/istock-1297090032.jpeg" />
  <ion-card-header>
    <ion-card-title>Madrid</ion-card-title>
  </ion-card-header>
  </ion-card>
  <br>
  <ion-button color="dark" routerLink="/credits">CRÉDITOS DEL PROYECTO</ion-button>
</ion-content>
